@page "/claims"
<AuthorizeView>
    <Authorized>
        <h2>Hello,  <span style="color: Red">@context.User.Identity.Name</span>, 
            you are authorized in role:
            <span style="color: Red">@context.User.Claims.Where(x => x.Type.Contains("role")).Select(x => x.Value).FirstOrDefault()</span></h2>
    </Authorized>
    <NotAuthorized>
        <p>I'm sorry, I can't display anything until you log in</p>
    </NotAuthorized>
</AuthorizeView>